stages:
  - build
  - deploy

variables:
  IMAGE: "$CI_REGISTRY_IMAGE/webapp"

build:
  stage: build
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$IMAGE:$CI_COMMIT_SHORT_SHA" -t "$IMAGE:latest" .
    - docker push "$IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$IMAGE:latest"
  rules:
    - if: $CI_COMMIT_BRANCH

deploy:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - scp k8s/webapp.yaml ubuntu@$EC2_HOST:/tmp/webapp.yaml
    - ssh ubuntu@$EC2_HOST "sudo kubectl apply -f /tmp/webapp.yaml && sudo kubectl -n webapp rollout status deploy/webapp --timeout=180s"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
